{% extends 'promh/base.html' %}
{% block title %}Add a New DrainholeLiner{% endblock %}
{% block wells_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New DrainholeLiner for the well: <strong>{{ well }}</strong></h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'promh/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Drainhole Liner available in stock</h3>
                    {% if stock %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>5" D/h Liner</th>
                                    <th>3-1/2" D/h Liner</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for s in stock %}
                                <tr>
                                    <td>{{ s.dh_liner_size_5 }}</td>
                                    <td>{{ s.dh_liner_size_3_1by2 }}</td>
                                </tr>
                            {% endfor %}    
                            </tbody>
                        </table>
                        <p class="text-warning">Make sure that you do not add an amount which exceeds the one in the stock.</p>
                    {% endif %}  
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
