{% extends 'promh/base.html' %}
{% block title %}{{ well.well_code }}{% endblock %}
{% block wells_active %}active{% endblock %}

{% block create_well %}
<li>
	<a href="{% url 'promh:create_well' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add New Well
	</a>
</li>
{% endblock %}

{% block update_well %}
<li>
	<a href="{% url 'promh:update_well' well.id %}">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp; Update {{ well.well_code }}
	</a>
</li>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% if well %}
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Well Name</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Area</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Platform</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Category</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Jobtype</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>Layer</strong></div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.well_code }}</div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.well_area }}</div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.platform }}</div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.well_category }}</div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.well_jobtype }}</div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-info">{{ well.well_layer }}</div>
	    	</div>
	    	<hr><br><br>
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>30" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>20" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>18-5/8" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>11-3/4" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Prem. Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Chrome Casing</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FJ</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>11-3/4" FJ Liner Large</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Liner</strong></div>
	    	</div>
	    	<div class="row">
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.casing_size_30_status_color}}">{{ well.casing_size_30 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.casing_size_20_status_color}}">{{ well.casing_size_20 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.casing_size_18_5by8_status_color }}">{{ well.casing_size_18_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.casing_size_13_3by8_status_color }}">{{ well.casing_size_13_3by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_joint_11_3by4_status_color }}">{{ well.float_joint_11_3by4 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.casing_size_9_5by8_status_color }}">{{ well.casing_size_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.prem_casing_9_5by8_status_color }}">{{ well.prem_casing_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.btc_9_5by8_status_color }}">{{ well.btc_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.chrome_casing_9_5by8_status_color }}">{{ well.chrome_casing_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_joint_9_5by8_status_color }}">{{ well.float_joint_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_joint_liner_11_3by4_large_status_color }}">{{ well.float_joint_liner_11_3by4_large }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.liner_size_7_status_color }}">{{ well.liner_size_7 }}</div>
			</div>
			<hr><br><br>
			<div class="row">		
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Liner Hanger</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Chrome Liner</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Chrome Liner Hanger</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>5" Liner</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>5" Liner Hanger</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>20" FS</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>18-5/8" FS</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" FS</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FS</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" FC</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FC</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC-PIN-PREM-BOX-CO</strong></div>
	    	</div>
	    	<div class="row">	
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.liner_hanger_7_status_color }}">{{ well.liner_hanger_7 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.chrome_liner_size_7_status_color }}">{{ well.chrome_liner_size_7 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.chrome_liner_hanger_7_status_color }}">{{ well.chrome_liner_hanger_7 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.liner_size_5_status_color }}">{{ well.liner_size_5 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.liner_hanger_5_status_color }}">{{ well.liner_hanger_5 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_shoe_size_20_status_color }}">{{ well.float_shoe_size_20 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_shoe_size_18_5by8_status_color }}">{{ well.float_shoe_size_18_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_shoe_size_13_3by8_status_color }}">{{ well.float_shoe_size_13_3by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_shoe_size_9_5by8_status_color }}">{{ well.float_shoe_size_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_collar_size_13_3by8_status_color }}">{{ well.float_collar_size_13_3by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.float_collar_size_9_5by8_status_color }}">{{ well.float_collar_size_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.btc_pin_prem_box_cross_over_9_5by8_status_color }}">{{ well.btc_pin_prem_box_cross_over_9_5by8 }}</div>
			</div>
			<hr><br><br>
			<div class="row">	
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC-BOX-PREM-PIN-CO</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H A Section</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H B Section</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H C Section</strong></div>
	    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H Xmas Tree</strong></div>
	    	</div>
			<div class="row">	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.btc_box_prem_pin_cross_over_9_5by8_status_color }}">{{ well.btc_box_prem_pin_cross_over_9_5by8 }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.wellhead_a_section_status_color }}">{{ well.wellhead_a_section }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.wellhead_b_section_status_color }}">{{ well.wellhead_b_section }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.wellhead_c_section_status_color }}">{{ well.wellhead_c_section }}</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 {{ well.wellhead_xmas_tree_status_color }}">{{ well.wellhead_xmas_tree }}</div>
			</div>
		{% else %}
		 <p><strong>Well not found</strong></p>	
		{% endif %}
	</div>	
{% endblock %}	