{% extends 'promh/base.html' %}
{% block stock_active %}active{% endblock %}
{% block update_stock %}
<li>
	<a href="{% url 'promh:update_stock' %}">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp; Update Stock
	</a>	
</li>
{% endblock %}

{% block body %}
	<div class="container-fluid">
	{% if stock %}
		<h1>Available material stock of Mumbai High Asset</h1>
		<p>The stock shows the availability of well equipments. Length units are in meters.</p>
		<br>
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>30" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>20" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>18-5/8" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>11-3/4" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Prem. Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" Chrome Casing</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FJ</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>11-3/4" FJ Liner Large</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Liner</strong></div>
    	</div>
    	<div class="row">
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.casing_size_30 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.casing_size_20 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.casing_size_18_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.casing_size_13_3by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_joint_11_3by4 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.casing_size_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.prem_casing_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.btc_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.chrome_casing_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_joint_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_joint_liner_11_3by4_large }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.liner_size_7 }}</div>
		</div>
		<hr><br><br>
		<div class="row">		
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Liner Hanger</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Chrome Liner</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>7" Chrome Liner Hanger</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>5" Liner</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>5" Liner Hanger</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>20" FS</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>18-5/8" FS</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" FS</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FS</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>13-3/8" FC</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" FC</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC-PIN-PREM-BOX-CO</strong></div>
    	</div>
    	<div class="row">	
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.liner_hanger_7 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.chrome_liner_size_7 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.chrome_liner_hanger_7 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.liner_size_5 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.liner_hanger_5 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_shoe_size_20 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_shoe_size_18_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_shoe_size_13_3by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_shoe_size_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_collar_size_13_3by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.float_collar_size_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.btc_pin_prem_box_cross_over_9_5by8 }}</div>
		</div>
		<hr><br><br>
		<div class="row">	
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>9-5/8" BTC-BOX-PREM-PIN-CO</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H A Section</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H B Section</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H C Section</strong></div>
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>W/H Xmas Tree</strong></div>
    	</div>
		<div class="row">	
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.btc_box_prem_pin_cross_over_9_5by8 }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.wellhead_a_section }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.wellhead_b_section }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.wellhead_c_section }}</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ stock.wellhead_xmas_tree }}</div>
		</div>	
	{% else %}
		<p>No stock found. Please recreate the inventory.</p>
	{% endif %}
	</div>
{% endblock %}	