{% extends 'promh/base.html' %}
{% block wells_active %}active{% endblock %}
{% block create_well %}
<li>
	<a href="{% url 'promh:create_well' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Well
	</a>
</li>
{% endblock %}

{% block create_platform %}
<li>
	<a href="{% url 'promh:create_platform' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Platform
	</a>
</li>
{% endblock %}

{% block create_rig %}
<li>
	<a href="{% url 'promh:create_rig' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Rig
	</a>
</li>
{% endblock %}

{% block create_complex %}
<li>
	<a href="{% url 'promh:create_processcomplex' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Process Complex
	</a>
</li>
{% endblock %}

{% block body %}
	{% if wells %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Well</th>
	        		<th>Platform</th>
	        		<th>Process Complex</th>
	        		<th>Rig</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	{% for well in wells %}
					<tr>
						<td><a href="{% url 'promh:detail' well.id %}">{{ well }}</a></td>
						<td><a href="{% url 'promh:platform_detail' well.platform.id %}">{{ well.platform }}</a></td>
						<td><a href="{% url 'promh:processcomplex_detail' well.platform.process_complex.id %}">{{ well.platform.process_complex }}</a></td>
						<td><a href="{% url 'promh:rig_detail' well.platform.rig.id %}">{{ well.platform.rig }}</a></td>
					</tr>		
				{% endfor %}
			</tbody>	
		</table>
	{% else %}
		<p>No wells are available.</p>
	{% endif %}
{% endblock %}	